<div class="row">
  <div class="col col-md-12 my-5">
    <h1 class="display-1 text-info text-center">Hakkımızda</h1>
  </div>
</div>

<div class="row justify-content-center">
  <span class="col col-6 lead text-white">Bizler Nevşehirli Vatandaşlarız. Günümüzde İnternette Nevşehir Hakkında El ile
  Tutulabilir Bir Site Bulunmamakta. Bizlerde O Yüzden Bir Tane Yapma Kararı Aldık. Güzel Ya Da Kötü Fark Etmeksizin
  Geliştirmeye Devam Ediyoruz. Bilgileri Tazeliyor , İstekleriniz Doğrultusunda Sitemize Yön Veriyoruz.</span>
</div>

<div class="col-md-8 mx-auto my-5 p-5">
  <h1 class="display-6 text-success">İletişim Bilgileri</h1>
  <span class="lead text-white">
    <i class="fa-solid fa-envelope fa-shake"></i></i> E-Posta Adresi : talhaatar50@gmail.com <br>
    <i class="fa-solid fa-phone"></i> Telefon : +90 552 873 34 50 <br>
    <i class="fa-solid fa-location-dot"></i> Konum : İstanbul / Maltepe <br>
    <iframe
      src="https://www.google.com/maps/embed?pb=!4v1680774716434!6m8!1m7!1sH1tOJOD0p_Dr8d--9lciyA!2m2!1d40.92180218702465!2d29.14194971758118!3f19.378350432129253!4f16.40404325406955!5f0.7820865974627469"
      width="100%" height="450" style="border-radius: 12px; " allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade" class="my-4"></iframe>
  </span>
</div>