@model SayfaBilgiViewModel

<div class="col-lg-6 col-md-8 mt-5 p-4 mb-5 mx-auto">
    <h1 class="fw-light text-info text-center">@Model.gezilecekYerlerKayit.gYerAd</h1>
    <span class="lead text-white text-center">@Html.Raw(Model.gezilecekYerlerKayit.gYerAciklama)</span>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Sehirler)
            {
                @foreach (var detayItem in Model.DetayResimler)
                {
                    if (item.Id == detayItem.sehirId)
                    {
                        <div class='carousel-item @(i<1 ? "active" : " ")' data-bs-interval="2500">
                            <img src="~/img/@detayItem.detayResimYolu" class="d-block w-100" alt="...">
                        </div>
                        i++;
                    }
                }
            }
        </div>
    </div>

</div>