<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image" href="~/img/stonepickaxe.ico">
  <title>Admin - Panel</title>

  <!-- Custom fonts for this template-->
  <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="~/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="~/admin/css/sb-admin.css" rel="stylesheet">

  <!-- BootsTrap 5.3.x -->
  <link rel="stylesheet" href="~/bootstrap.css">
  <link rel="stylesheet" href="~/Font_Awesome_6-4-0/css/all.css">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand ms-3" href="/Admin/">Yönetim</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0 me-2" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <a href="/Home" style="text-decoration: none;"> <i class="fa-solid fa-house-chimney text-secondary"></i> <span
        class="text-white">Ana Sayfa</span> </a>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Arama yapın..." aria-label="Search"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Slider</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

          <a class="dropdown-item" href="/Admin/SliderVeriGirisi">Slider Ekle</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="/Admin/SliderListele">Slider Listele <i class="ms-1 fa-solid fa-table"
              style="color: #000000;"></i> </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Şehir</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

          <a class="dropdown-item" href="/Admin/SehirVeriGirisi">Şehir Ekle</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="/Admin/SehirListele">Şehir Listele <i class="ms-1 fa-solid fa-table"
              style="color: #000000;"></i> </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Gezilecek Yer</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

          <a class="dropdown-item" href="/Admin/GYerVeriGirisi">Gezilecek Yer Ekle</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="/Admin/GYerListele">Gezilecek Yer Listele <i class="ms-1 fa-solid fa-table"
              style="color: #000000;"></i> </a>
        </div>
      </li>

    </ul>



    <div id="content-wrapper" style="background-color: rgb(60, 60, 60);" class="text-white">

      <div class="container-fluid">

        @RenderBody()

        <footer class="sticky-footer" style="background-color: rgb(90, 120, 65);">
          <div class="container my-auto">
            <div class="copyright text-center my-auto" style="color: black;">
              <span> © 2016 ~ 2023 Ram Universe. Tüm Hakları Saklıdır. </span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin.min.js"></script>
    <script src="~/Font_Awesome_6-4-0/js/all.js"></script>

    <script src="~/ckeditor/ckeditor.js"></script>

    @* <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script> *@
    @* <script src="js/demo/datatables-demo.js"></script> *@

    <script>
      $(document).ready(function () {
        CKEDITOR.replace('textareaContent', {
          height: 400,
          filebrowserUploadUrl: '/ckeditor/upload_ckeditor',
          filebrowserBrowseUrl: '/ckeditor/filebrowse'
        });
      });
    </script>

</body>

</html>
